body {
  background-color: #D6D1D1;
}
.Mod{
  background-color: #644ACC;
  border-radius: 20px 20px;
  width: 900px;
  height: 370px;
  text-align: center;
  margin-left: 460px;
  margin-top: 180px;
  padding: 60px;
  color: white;
}
.titre-api{
  font-size: 35px;
  font-weight: bold;
}

.textarea.materialize-textarea:focus{
  background-color: white;
  border-bottom: white;
}

.cn{
  color: #644ACC;
  font-weight: bold;
}

.textarea.materialize-textarea{
  border-bottom: white;
  background-color: white;
}

.TextField{
  border-bottom: white;
}

.fd{

  margin-left: -70px;
}

.tr{
  color: white;
  font-weight: bold;
}

.cont-p5{
  margin-left: -60px;
  font-size: 25px;
}

.btn-ferme1{
  width: 200px;
  height: 40px;
  font-size: 17px;
  border-radius: 20px 20px;
  font-weight: bold;
  background-color: rgb(239, 7, 7);
  color: #ffffff;
  border-style: none;
}




.btn-ferme{
  width: 200px;
  height: 40px;
  font-size: 17px;
  border-radius: 20px 20px;
  font-weight: bold;
  background-color: white;
  color: #644ACC;
  border-style: none;
}
.mw{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}

.logo {
  width: 100%;
  max-width: 180px;
  margin-left: -40px;
}

.tout1 {
  display: flex;
  margin-top: -40px;
  justify-content: center;
  height: auto;
}

.bordu {
  display: flex;
  justify-content: center;

}

.bordu8 {
  display: flex;
  justify-content: center;
  margin-left: -200px;

}

.cvb{
  display: flex;
  justify-content: center;
  gap: 12px;
}

.vv{
  font-size: 15px;
  color: #644ACC;
}

.xe{
  margin-top: 15px;
  width: 20px;
  height: 20px;
}

.xe1{
  margin-top: 1px;
  width: 20px;
  height: 20px;
}

.Fond-login {
  background-image: url("/public/Connexion.png");
  background-size: cover;
  height: 786px;
  width: auto;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.4);
}

.Fond-login1 {
  background-image: url("/public/Connexion.png");
  background-size: cover;
  height: 286px;
  width: auto;
}

.Fond-login7 {
  background-image: url("/public/Connexion.png");
  background-size: cover;
  height: 286px;
  width: auto;
  margin-left: -949px;
}









.Mod{
  background-color: #644ACC;
  border-radius: 20px 20px;
  width: 900px;
  height: 370px;
  text-align: center;
  margin-left: 460px;
  margin-top: 180px;
  padding: 60px;
  color: white;

}

input{
  text-align: center;
  font-size: 12px;
}

.textarea.materialize-textarea {
  border-bottom: 2px black;
  text-align: center;
  font-size: 12px;
}

.titre-api{
  font-size: 35px;
  font-weight: bold;
}

.btn-ferme{
  width: 200px;
  height: 40px;
  font-size: 17px;
  border-radius: 20px 20px;
  font-weight: bold;
  background-color: white;
  color: #644ACC;
  border-style: none;
}

.mw{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}


.contbarv{
  display: flex;
  justify-content: center;
  margin-left: 200px;
}


.cont-log {
  display: flex;
  justify-content: center;
  gap: 20PX;
}

.cont-log6 {
  display: flex;
  justify-content: center;
  gap: 20PX;
  margin-left: -1700px;
  margin-top: 70px;
}





.log-icon {
  width: 758px;
}


.menu-login, .menu-login1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 463px;
  height: 427px;
  background-color: white;
  border-radius: 20px 20px 20px;
  margin-top: 160px;
  text-align: center;
}

.menu-login1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 490px;
  height: 600px;
  background-color: white;
  border-radius: 20px 20px 20px;
  margin-top: 160px;
  text-align: center;
}
.btnicon{
  border-style:none ;
  background-color: white;

}
.btnicon:focus{
  border-style:none ;
  background-color: white;
  
}
.menu-AjoutEM {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 490px;
  height: 500px;
  background-color: white;
  border-radius: 20px 20px 20px;
  margin-top: 230px;
  margin-left: 300px;
  text-align: center;
}


.formulaire{
  margin-left: -125px;
}


.Email1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: none;
  margin-top: 40px;
  gap: 20Px;
}

.btn-tous{
  display: flex;
  justify-content: center;
  margin-top: 90px;
  gap: 20px;
}


.Email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  gap: 20Px;
}

.btn-Conex {
  width: 390px;
  height: 52px;
  background-color: #644ACC;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

 .input {
  width: 390px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: none;
  background-color: rgb(236, 235, 235);
}

input{
  width: 390px;
  height: 50px;
}

.textarea.materialize-textarea {
  border-bottom: no;
}




.cont-bienv {
  width: 213px;
  height: 43px;
  background-color: white;
  border-radius: 70px;
  font-size: 32px;
  color: #644ACC;
  padding-left: 40px;
  margin-top: -250px;
  margin-left: 380px;
}




.zb{

  margin-top: 300px;
}


.titre-connexion {
  width: 374px;
  height: 131px;
  border-radius: 20px 20px 20px;
  background-color: #644ACC;
  margin-top: -70px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border: solid 1px white;
  padding: 30px;
  box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0);
}


.btnsearch {
  background-color: #D6D1D1;
  border: none;
  border-style: none;
  height: 13px;
  margin-top: 10px;
  margin-left: 150px;

}

.cont-recta {
  width: 397px;
  height: 232px;
  background-color: white;
  margin-left: -1450px;
  margin-top: 250px;
  box-shadow: 2px 2px  white;
  border-radius: 15px 15px 15px;
}

.cont-recta1 {
  width: 397px;
  height: 232px;
  background-color: white;
  margin-left: -1000px;
  margin-top: -230px;
  box-shadow: 2px 2px  white;
  border-radius: 15px 15px 15px;
}

.cont-recta2 {
  width: 397px;
  height: 232px;
  background-color: white;
  margin-left: -570px;
  margin-top: -230px;
  box-shadow: 2px 2px  white;
  border-radius: 15px 15px 15px;
}

.contToutrecta {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -50px;
  margin-left: 90px;
  padding-left: 20px;
}


.titre-Cotation {
  margin-top: 70px;
  margin-left: -20px;
  font-size: 20px;
  text-align: left;
}

.titre-Cotation12 {
  margin-top: 70px;
  margin-left: 45px;
  font-size: 20px;
  text-align: left;
}




.titre-Cotation13 {
  margin-top: 70px;
  margin-left: 70px;
  font-size: 20px;
  text-align: left;
}

.titre-Cotation16 {
  margin-top: 70px;
  margin-left: 5px;
  font-size: 20px;
  text-align: left;
}



.titre-Cotation1 {
  margin-left: 40px;
  margin-top: 70px;
  font-size: 20px;
  text-align: left;
}

.titre-Cotation2 {
  margin-top: 70px;
  margin-left: 60px;
  font-size: 20px;
  text-align: left;
}

.ligneFar {
  background-color: #644ACC;
  margin-top: -15px;
  margin-left: -1450px;
  width: 69px;
  height: 5px;
}


.titreFar {
  margin-top: 40px;
  margin-left: -1450px;
  width: 456px;
  font-weight: bold;
  font-size: 34px;
}

.Nbre-Cotation {
  margin-left: 180px;
  margin-top: -14px;
  font-size: 52px;
  font-weight: bold;
}

.block-cota {
  display: flex;
}

.ligne-cotation {
  width: 235px;
}


.icon-cotation {
  width: 44px;
  height: 39px;
  margin-top: 7px;
  margin-left: 23px;
}

.contIcon-cotation {
  margin-top: -30px;
  margin-left: 25px;
  width: 90px;
  height: 62px;
  box-shadow: 1px 1px #644ACC;
  background-color: #644ACC;
  border-radius: 10px 10px 10px;
}

.contIcon-cotation1 {
  box-shadow: 1px 1px #FA4949;
  margin-top: -30px;
  margin-left: 25px;
  width: 90px;
  height: 62px;
  background-color: #FA4949;
  border-radius: 10px 10px 10px;
}

.seach {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  background-color: #D6D1D1;
  border: 2px#010000;
  margin-left: 1000px;
  display: flex;
  width: 269px;
  height: 34px;
}

.s1 {
  width: 16px;

}

.gcompte{
  margin-top: 200px;
  margin-left: 75px;
}


.fc{
  display: flex;
  margin-left: -180px;
}






.s2 {
  width: 24px;
  height: 24px;
  margin-left: 15px;
  margin-top: 9px;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 271px;
  background-color: #644ACC;
  margin-top: 60px;
  margin-left: 220px;
  border-radius: 20px 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}


.nav_Vendeur {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 311px;
  background-color: #644ACC;
  margin-top: 70px;
  margin-left: 50px;
  border-radius: 20px 20px;
  box-shadow:  2px 2px 1px rgba(0, 0, 0, 0.4);

}


.nav_Admin {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 311px;
  background-color: #644ACC;
  margin-top: 70px;
  margin-left: 50px;
  border-radius: 20px 20px;
  box-shadow:  2px 2px 1px rgba(0, 0, 0, 0.4);

}

.gb{
  margin-left: -30px;
  margin-top: -10px;
}

.vc{
  margin-left: 20px;
}

.papi {
  margin-top: -17px;
  font-size: 18px;
  font-weight: bold;
}

.papi1 {
  margin-top: -20px;
  margin-left: -25px;
  font-size: 18px;
  font-weight: bold;
}

.papi2 {
  margin-top: -10px;
  margin-left: -5px;
  font-size: 18px;
  font-weight: bold;
}


.icon23 {
  width: 29px;
  height: 29px;

}

.btn31 {
  display: flex;
  
}

.btn32 {
  display: flex;
}

.btn33 {
  display: flex;
}

.btn37 {
  display: flex;
  justify-content: left;
  padding-left: 20px;
  padding-top: 10px;
}


/* .isActive:hover,
.active .isActive{
  background: #000;
  width: 210px;
  height: 50px;
} */

.isActive:hover,
.active .isActive {
  background: #7c7a7a;
  color: #fff;
  width: 210px;
  height: 50px;
  cursor: pointer;
}

.isActive:active,
.isActive:focus {
  background: #949292;
  color: #fff;
  outline: none;
}


.no-autoinit .nav-wrapper li a:hover {
  background-color: transparent !important;
  color: inherit !important;
  cursor: default !important;
}




.ligne {
  background-color: white;
  height: 2px;
  width: 180px;
  margin-top: -60px;
}

.btn23 {
  display: flex;
  flex-direction: column;
  margin-top: 220px;
  margin-left: -220px;
  gap: 20px;
  
}

.btn34 {
  display: flex;
  margin-top: 170px;
 
 
}

.FormDelais-Cota14 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 406px;
  height: 345px;
  background-color: white;
  border-radius: 20px 20px 20px;
  box-shadow:  2px 2px 2px white;
  margin-left: 60px;
  margin-top: 540px;
}

.FormDelais-Cota13 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 406px;
  height: 345px;
  background-color: white;
  border-radius: 20px 20px 20px;
  box-shadow:  2px 2px 2px white;
  margin-left: 5px;
  margin-top: 540px;
}




.FormDelais-Cota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 406px;
  height: 345px;
  background-color: white;
  border-radius: 20px 20px 20px;
  box-shadow:  2px 2px 2px white;
  margin-left: -1400px;
  margin-top: 540px;
}

.Nom-client {
  font-size: 26px;
  font-weight: bold;
  margin-left: 30px;
}

.dispo-nonProsuit {
  display: flex;
}

.Nom-Produit {
  font-size: 20px;
  margin-left: 5px;
}

.boule-vert {
  margin-left: 30px;
  margin-top: 23px;
  width: 20px;
  height: 20px;
  background-color: #4ACC67;
  border-radius: 20px 20px 20px;
}

.icon-time {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}

.dispo-hor-date {
  display: flex;
  justify-content: center;
  gap: 13px;
}

.date {
  font-size: 15px;
}

.btn-voirPlus {
  background-color: white;
  font-size: 14px;
  color: #644ACC;
  border-style: none;
  margin-left: 50px;
  width: 70px;
  height: 7Opx;
}

.btn-voirPlus:focus{
  background-color: white;
}


.dispoGen-datHor-voir {
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
  gap: 70px;
}

.ligne-cotation1 {
  margin-top: 80px;
  width: 335px;
}


.FormDelais-Cota1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 406px;
  height: 345px;
  background-color: white;
  box-shadow:  2px 2px 2px white;
  border-radius: 20px 20px 20px;
  margin-left: 0px;
  margin-top: 540px;
}

.FormDelais-Cota3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 406px;
  height: 345px;
  background-color: white;
  box-shadow:  2px 2px 2px white;
  border-radius: 20px 20px 20px;
  margin-left: 0px;
  margin-top: 540px;
}

.FormCo {
  display: flex;
  justify-content: center;
  margin-left: -130px;
  margin-top: -510px;
  gap: 560px;
}

.FormCo12 {
  display: flex;
  justify-content: center;
  margin-left: -1580px;
  margin-top: -510px;
  gap: 30px;
}


.FormProd1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 145px;
  height: 129px;
  background-color: white;
  border-radius: 25px;
  margin-left: -550px;
  margin-top: 200px;
}

.Cont-loadPour {
  margin-left: 40px;
  margin-top: 20px;
}



.icon-load {
  width: 68px;
  height: 68px;
}

.Pource {
  margin-top: -55px;
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #644ACC;
}


.NameProduit {
  font-size: 14px;
  font-weight: bold;
  margin-top: 28px;
  margin-left: 50px;
}

.gcoman{
  margin-left: 80px;
}

.FormProd2 {
  width: 145px;
  height: 129px;
  background-color: white;
  border-radius: 25px;
  margin-left: 100px;
  margin-top: 200px;
}

.Pource1 {
  margin-top: -55px;
  margin-left: 22px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.Cont-formProd {
  margin-top: -30px;
  display: flex;
  margin-left: -530px;
}


.Cont-tableau {
  width: 836px;
  height: 385px;
  background-color: white;
  border-radius: 20px 20px 20px;
  margin-left: -1300px;
  margin-top: 430px;
}

.cont-plan {
  margin-top: -40px;
  margin-left: -99px;
  width: 1025px;
  height: 57px;
  box-shadow: 2px 2px 2px #644ACC ;
  border-radius: 20px 20px 0px 0px;
  background-color: #644ACC;
  color: white;
}

.cont-plan10{
  margin-top: -40px;
  margin-left: -95px;
  width: 1025px;
  height: 57px;
  box-shadow: 2px 2px 2px #644ACC ;
  border-radius: 20px 20px 0px 0px;
  background-color: #644ACC;
  color: white;
}

.cont-plan8 {
  margin-top: -40px;
  margin-left: -95px;
  width: 1025px;
  height: 57px;
  box-shadow: 2px 2px 2px #644ACC ;
  border-radius: 20px 20px 0px 0px;
  background-color: #644ACC;
  color: white;
}

.Plan-name {
  font-size: 25px;
  font-weight: bold;
  margin-left: 430px;
  padding: 0px;

}


.tab-titre {
  width: 600px;
  margin-left: 130px;
}

.icon-plus {
  width: 40px;
  height: 40px;
}

.btn-plus {
  background-color: white;
  border-style: none;
  margin-top: -58px;
  margin-left: 950px;
}

.btn-plus:focus {
  background-color: none;
 
}

.btn-plus1:focus{
  background-color: white;
}




.btn-plus1 {
  background-color: white;
  box-shadow: 2px 2px #644ACC ;
  border-style: none;
  margin-top: 200px;
  width: 124px;
  height: 31px;
  border-radius: 10px 10px 10px;
  font-size: 11px;
  background-color: #644ACC;
  color: white;
  margin-left: -400px;
}





.Cont-tableau1 {
  width: 836px;
  height: 485px;
  background-color: white;
  border-radius: 20px 20px 20px;
  margin-left: -1200px;
  margin-top: 90px;
}

.Cont-tableau {
  width: 836px;
  height: 485px;
  background-color: white;
  border-radius: 20px 20px 20px;
  margin-left: -1200px;
  margin-top: 230px;
}

.Cont-tableau3 {
  display: flex;
  flex-direction: column;
 
  width: 836px;
  height: auto;
  border-radius: 20px 20px 20px;
  margin-left: -980px;
  margin-top: 60px;
}

.Cont-tableau7 {
  display: flex;
  flex-direction: column;
 
  width: 836px;
  height: auto;
  border-radius: 20px 20px 20px;
  margin-left: -1180px;
  margin-top: 60px;
}

.df{
  margin-top: 20px;
  margin-left: 80px;
}

.gt{
  margin-left: -210px;
}





.Cont-tableau5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1409px;
  height: auto;
 
  border-radius: 20px 20px 20px;
  margin-left: -1330px;
  margin-top: 40px;
}



.ta-titre{
  color: #644ACC;
  width: 1300px;
  margin-left: -40px;
  height: auto;
  text-align: center;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 2px white;
}

.ta-titre1{
  color: #644ACC;
  width: 1300px;
  margin-left: -259px;
  height: auto;
  text-align: center;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
}

.tira{
  margin-left: 20px;
  width: 800px;

}
th, span{
  font-size: 18zzzzpx;
  font-weight: bold;
  text-align: center;
}

td{
  text-align: center;
  color: #010000;
}

.Cont-tableau8 {
  display: flex;
  flex-direction: column;
  width: 336px;
  height: auto;
  border-radius: 20px 20px 20px;
  margin-left: -1185px;
  margin-top: 280px;
}

.Cont-tableau10 {
  display: flex;
  flex-direction: column;
  width: 336px;
  height: auto;
  border-radius: 20px 20px 20px;
  margin-left: -1190px;
  margin-top: 290px;
}

.gclient{
  margin-left: 80PX;
}



.cont-plan5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 120px;
  width: 1025px;
  height: auto;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 2px 2px 2px #644ACC ;
  background-color: #644ACC;
  color: white;
}



.cont-plan5 {
  margin-top: -10px;
  padding-left: 40px;
}




.tab-titre5 {
  width: 700px;
  margin-left: 130px;
}




/* +++++++++++============ */


.pop-up-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.pop-up {
  position: relative;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transform: rotateY(0deg) translateZ(0);
  animation: pop-up-animation 0.5s ease-in-out forwards;
}

@keyframes pop-up-animation {
  from {
    transform: rotateY(-90deg) translateZ(-500px);
  }
  to {
    transform: rotateY(0deg) translateZ(0);
  }
}

.pop-up h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.pop-up form {
  margin-top: 10px;
}

.pop-up .form-group {
  margin-bottom: 15px;
}

.pop-up label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.pop-up input[type="text"],
.pop-up input[type="file"] {
  width: 100%;
  text-align:left ;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.pop-up .button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.pop-up button {
  padding: 8px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pop-up button:hover {
  background-color: #0056b3;
}

.pop-up button[type="submit"] {
  background-color: #28a745;
}

.pop-up button[type="submit"]:hover {
  background-color: #1d923d;
}

.pop-up button[type="button"] {
  background-color: #dc3545;
}

.pop-up button[type="button"]:hover {
  background-color: #a71d26;
}

body {
  overflow: hidden;
}

.pop-up-container:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}










@media only screen and (min-width: 328px)and (max-width:928px) {
  .cont-log {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20PX;
  }

  .log-icon {
    width: 358px;
    height: 300px;
    margin-left: -30px;
  }


  .menu-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 303px;
    height: 316px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 20px;
    margin-top: 10px;
    text-align: center;
    margin-left: 60px;
  }


  .menu-login1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 303px;
    height: 486px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 20px;
    margin-top: 130px;
    text-align: center;
    margin-left: 60px;
  }


  .cont-bvlog {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
  }
  .cont-bienv {
    width: 13px;
    height: 43px;
    background-color: white;
    border-radius: 70px;
    font-size: 32px;
    color: #644ACC;
    padding-left: 40px;
    margin-top: -70px;
    margin-left: 0px;
  }

  .Fond-login {
    background-image: url("/public/Connexion.png");
    background-size: cover;
    height: 586px;
    width: auto;
  }

  
  .input {
   width: 220px;
   border-radius: 5px;
   margin-bottom: 30px;
   border: none;
   background-color: rgb(236, 235, 235);
 }

  .cont-log {
    display: flex;
    justify-content: center;
    margin-left: -8px;
    gap: 2PX;
  }

  .titre-connexion {
    width: 204px;
    height: 70px;
    border-radius: 20px 20px 20px;
    background-color: #644ACC;
    margin-top: -60px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border: solid 1px white;
    padding: 10px;
  }

  .btn-Conex {
    width: 225px;
    height: 52px;
    background-color: #644ACC;
    border-style: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-left: 0px;
  }

  .Email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    gap: 20Px;
    margin-left: 20px;
  }

  .tout1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding-bottom: 50px;
  }

  .bordu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
  
  }

  .nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    width: 344px;
    background-color: #644ACC;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 0px 0px;
    position: fixed;
  
  }

  .logo {
    width: 100%;
    max-width: 90px;
    margin-left: 169px;
    margin-top: -12px;
  }

  .ligne{
    width: 40px;
    margin-top: -30px;
    margin-left: 200px;
  }
  .tk{
    display: flex;
    flex-direction: column;
  }

  .contbarv{
    display: flex;
    justify-content: center;
  }

  .seach {
    margin-top: 110px;
    background-color: #D6D1D1;
    border: 2px#010000;
    margin-left: -40px;
    margin-top: 160pX;
    display: flex;
    width: 269px;
    height: 34px;
  }

  .contToutrecta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -0px;
    margin-left: 0px;
  }

  .cont-recta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 297px;
    height: 132px;
    background-color: white;
    margin-left: 47px;
    margin-top: 60px;
    border-radius: 15px 15px 15px;
  }


  .cont-recta1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 297px;
    height: 132px;
    background-color: white;
    margin-left: 48px;
    margin-top: 60px;
    border-radius: 15px 15px 15px;
  }

  .cont-recta2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 297px;
    height: 132px;
    background-color: white;
    margin-left: 48px;
    margin-top: 60px;
    border-radius: 15px 15px 15px;
  }

  .titreFar {
    margin-top: 40px;
    margin-left: 60px;
    width: 256px;
    font-weight: bold;
    font-size: 24px;
  }

  .ligneFar {
    background-color: #644ACC;
    margin-top: -15px;
    margin-left: 60px;
    width: 69px;
    height: 5px;
  }

  .FormCo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4px;
    margin-top: 10px;
    gap: 0px;
  }

  .FormDelais-Cota {
    width: 306px;
    height: 245px;
    background-color: white;
    border-radius: 20px 20px 20px;
    margin-left: 40px;
    margin-top: 40px;
  }

  .FormDelais-Cota1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 306px;
    height: 245px;
    background-color: white;
    border-radius: 20px 20px 20px;
    margin-left: 40px;
    margin-top: 40px;
  }

  .FormDelais-Cota3 {
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 245px;
    background-color: white;
    border-radius: 20px 20px 20px;
    margin-left: 40px;
    margin-top: 40px;
  }

  .Cont-tableau5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 309px;
    height: auto;
    border-radius: 20px 20px 20px;
    margin-left: 40px;
    margin-top: -20px;
  }
  .ta-titre{

    padding-left: 20px;
    width: 200px;
    margin-left: 5px;
    text-align: center;
  }
  
  .cont-plan5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    width: 225px;
    height: 60px;
    border-radius: 20px 20px 0px Opx;
    background-color: #644ACC;
    color: white;
  }

  .Plan-name {
    font-size: 15px;
    font-weight: bold;
    margin-left: 0px;
    padding: 10px;
  
  }

  .gb{
    margin-left: 35px;
    margin-top: 80px;
  }

  .btn-plus1 {
    background-color: white;
    border-style: none;
    margin-top: 70px;
    width: 124px;
    height: 31px;
    border-radius: 10px 10px 10px;
    font-size: 11px;
    background-color: #644ACC;
    color: white;
    margin-left: 180px;
  }

  .Cont-tableau3 {
    display: flex;
    flex-direction: column;
    width: 36px;
    height: auto;
    border-radius: 20px 20px 20px;
    margin-left: 0px;
    margin-top: -230px;
  }

  .ta-titre1{
    color: #644ACC;
    width: 100px;
    margin-left: 20px;
    height: auto;
    text-align: center;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
  }

  .cont-plan {
    margin-top: -40px;
    margin-left: 80px;
    text-align: center;
    width: 225px;
    height: 57px;
    border-radius: 20px 20px 0px 0px;
    background-color: #644ACC;
    color: white;
  }

  .btn-plus {
    background-color: white;
    border-style: none;
    margin-top: -48px;
    margin-left: 260px;
  }

  .Cont-tableau7 {
    display: flex;
    flex-direction: column;
    width: 336px;
    height: auto;
    border-radius: 20px 20px 20px;
    margin-left: -205px;
    margin-top: -80px;
  }

  .Cont-tableau8 {
    display: flex;
    flex-direction: column;
    width: 336px;
    height: auto;
    border-radius: 20px 20px 20px;
    margin-left: -180px;
    margin-top: 95px;
  }

  .cont-plan8 {
    margin-top: -40px;
    margin-left: 40px;
    text-align: center;
    width: 225px;
    height: 57px;
    border-radius: 20px 20px 0px 0px;
    background-color: #644ACC;
    color: white;
  }

  .Cont-tableau10 {
    display: flex;
    flex-direction: column;
    width: 336px;
    height: auto;
    border-radius: 20px 20px 20px;
    margin-left: -170px;
    margin-top: 140px;
  }


  .cont-plan10 {
    margin-top: -40px;
    margin-left: 40px;
    text-align: center;
    width: 200px;
    height: 57px;
    border-radius: 20px 20px 0px 0px;
    background-color: #644ACC;
    color: white;
  }


  .sidenav{

    background-color: #545455;
    width: 200px;
    color: white;

  }


  .papi {
    margin-top: -17px;
  }


  .btn23 {
    margin-top: 220px;
  }

  

 



  
  
 
  



}